apiVersion: v1
kind: PersistentVolume
metadata:
  name: alertmanager-pv
  namespace: monitoring
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/alertmanager"
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-path2
