# POSTGRES DB
POSTGRES_DB=diabetes_db
POSTGRES_USER=diabetes_user
POSTGRES_PASSWORD=diabetes_pass
POSTGRES_PORT=5432
# Backend
BACKEND_PORT=8000
# Frontend
FRONTEND_PORT=3000

# Redis
REDIS_PORT=6379
