name: CI-CD Pipeline




jobs:
  
  build-and-push:

    runs-on: self-hosted

    steps:

      - uses: actions/checkout@v3

      - name: Login Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend
        run: docker build -t fallmodo/diabete-backend:latest ./diabete-backend

      - name: Push Backend
        run: docker push fallmodo/diabete-backend:latest
    
      - name: Build Frontend
        run: docker build -t fallmodo/diabete-frontend:latest ./diabetes-frontend

      - name: Push Frontend
        run: docker push fallmodo/diabete-frontend:latest

    - name: Deploy to Kubernetes
      run: kubernetes apply -f k8s/
          
